.brownCircle{
    width: 8px;
    height: 8px;
    background: #BD6C15;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 6px 10px 10px 26px;
}
.greyLine{
    width: 60px;
    height: 1px;
    background: #D1D1D1;
    margin: 9px 10px 0 0;
}
.allTitles{
    color: #BD6C15;
    font-size: 30px;
    font-weight: normal;
    margin-top: 40px;
}
.generalBox{
    border-left: #D1D1D1 solid 1px;
    margin: 8px 30px 0 30px;
    padding: 15px 15px 0 15px;
}
/**** List ****/
.listBoxGeneral .mat-list-base .mat-list-item, .listBoxGeneral .mat-list-base .mat-list-option{
    border-top: #EFEDE8 solid 1px;
    border-bottom: #EFEDE8 solid 1px;
    height: 80px;
}
.listBoxGeneral .mat-list-base .mat-list-item .mat-list-item-content-reverse, .listBoxGeneral .mat-list-base .mat-list-option .mat-list-item-content-reverse{
    height: 80px;
}
.listPhotoBox{
    width: 40px;
}
.listSubject>div{
    padding-left: 10px;
}
.listCtrls{
    width: 120px;
}
.listCircle{
    width: 32px;
    height: 32px;
    background: grey;
    text-align: center;
    color: #FFFFFF;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
/**** Random Colors (Ini) ****/
.rdmColor_1{
    background: #00C2FF; /* A - B - C */
}
.rdmColor_2{
    background: #9FCE20; /* D - E - F */ 
}
.rdmColor_3{
    background: #DA4997; /* G - H - I */ 
}
.rdmColor_4{
    background: #FF9900; /* J - K - L */ 
}
.rdmColor_5{
    background: #A120CE; /* M - N - Ñ */ 
}
.rdmColor_6{
    background: #f3ef0a; /* O - P - Q */ 
}
.rdmColor_7{
    background: #4D49BE; /* R - T - U */ 
}
.rdmColor_8{
    background: #3E6991; /* V - W - X */ 
}
.rdmColor_9{
    background: #AF9335; /* Y - Z */ 
}
/**** Random Colors (Fin) ****/
.lSubject{
    color: #1D3572;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
}
.lGerencia{
    color: #1D3572;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}
.lNombre{
    color: #1D3572;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}
.lOrganizacion{
    color: #959595;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
}
.lDocument{
    color: #00C2FF;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
}
.listBtnBox{
    padding: 0 8px;
    text-align: center;
    color: #1D3572;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.listBtnBox .color_0{
    color: #1D3572;
}
.listBtnBox .color_1{
    color: #23DF05;
}
.listBtnBox .color_2{
    color: #C4C4C4;
}

@media (max-width: 960px){
    .generalBox{
        border-left: none;
        margin: 8px 0px 0 0px;
        padding: 15px 15px 15px 15px;
    }
    .allTitles{
        font-size: 18px;
        margin-top: 30px;
    }
    .greyLine{
        width: 20px;
    }
    .centerTitle {
        font-size: 16px;
        margin: 10px 0 35px 0;
    }

    .lNombre{
        font-size: 15px;
        line-height: 18px;
    }
    .lOrganizacion{
        font-size: 14px;
        line-height: 16px;
    }
    .lDocument{
        font-size: 14px;
        line-height: 16px;
    }
    .marg_r10{
        margin-right: 0;
    }
}
