<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span>
        Usuarios
    </div>
    <div class="generalBox">
        <div class="controlBox inputColor">
          <form class="example-form" fxLayout="row wrap">
            <div class="marg_r10" fxFlex fxFlex.sm="100" fxFlex.xs="100">
              <div class="labelsColor">Buscar</div>  
              <mat-form-field class="" appearance="outline" style="width: 100%;">
                <input type="tel" matInput placeholder="Buscar..." name="txtSearch" (keyup.enter)="searchByQuery();" [(ngModel)]='textSearch'>               
                <button mat-icon-button matSuffix (click) ="searchByQuery();">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>  
          </form>
        </div>
        <div class="listBoxGeneral">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let user of userData.Items">
              <div fxLayout="row" fxFlex>
                <div class="listPhotoBox" fxLayout="column" fxLayoutAlign="center center">
                  <div  [ngClass] = "getColor(user.name)" fxLayout="row" fxLayoutAlign="center center">
                    {{user.name | slice:0:1}}
                  </div>
                </div>
                <div class="listSubject" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <div>
                    <p class="lNombre">
                      {{ user.name }}
                    </p>
                    <p class="lOrganizacion">
                      {{user.organization }}
                    </p>
                    <p class="lDocument">
                        DNI: {{user.doc }}
                    </p>
                  </div>
                </div>
              </div>
            </mat-list-option>
          </mat-selection-list>
          <mat-paginator [length]="userData.recordsTotal" 
                       [pageSize]="userData.count" 
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       (page)="pageChangeEvent($event)">
        </mat-paginator>
        </div>
        <div fxLayout="row" *ngIf="!listReadyCheck" fxLayoutAlign="center center" >
          <div class="icon-loading"></div>
        </div>
    </div>
</section>

