<div class="main-div">
  <div>
    <div class="logoOnpe">
      <img src="../../../assets/img/PantallasCS3_Onpe.png" alt="">
    </div>
  </div>
  <div class="center">
    <div class="logoSistema">
      <h1>SINONPE</h1>
      <p>Sistema de Notificaciones de la ONPE</p>
    </div>
    <div class="centerTitle">
      NUEVA CONTRASEÑA
    </div>
    <form #myform="ngForm" [formGroup]="Formulario" class="example-form" (ngSubmit)="onSumit()">
      <div class="labelsColor">Ingrese su contraseña anterior</div>
      <mat-form-field class="example-full-width bigInputColor" appearance="outline">
          <span matPrefix class="material-icons">lock</span>
          <input matInput placeholder="Contraseña anterior" type="password" formControlName="fm_oldpass" [class.control-invalid]="formInvalid('fm_oldpass')" required appOnlyNumber="integer" autocomplete="false">
      </mat-form-field>
      <div class="labelsColor">Ingrese su contraseña nueva</div>
      <mat-form-field class="example-full-width bigInputColor" appearance="outline">
          <span matPrefix class="material-icons">lock</span>
          <input mat-icon="lock" matInput placeholder="Contraseña"  type="password" maxlength="30"   formControlName="fm_newpass" [class.control-invalid]="formInvalid('fm_newpass')"     required>
      </mat-form-field>
      <div class="labelsColor">Repita su contraseña nueva</div>
      <mat-form-field class="example-full-width bigInputColor" appearance="outline">
          <span matPrefix class="material-icons">lock</span>
          <input mat-icon="lock" matInput placeholder="Contraseña"  type="password" maxlength="30" formControlName="fm_repeatnewpass" [class.control-invalid]="formInvalid('fm_repeatnewpass')"          required>
      </mat-form-field>
      <span class="mensajeLogin">Mínimo 8 dígitos, alfanumérico y una letra mayúscula</span>
      <span class="mensajeLogin">{{mensaje}}</span>
      <div fxLayout="row" fxLayoutAlign="center center">
          <button type="submit" fxFlex="50" class="btnBlue" mat-raised-button [disabled]="myform.invalid">Aceptar</button>
      </div>
    </form>
  </div>
  <div class="dirFooter">
    Jr. Washington 1894, Lima 01<br/>
    informes@onpe.gob.pe  -  Fono ONPE: 417 0630 opción 1<br/>
    Horario de atención: Lunes a Sábado de 08:00 h – 20:00 h
  </div>
</div>