body{
    background-image: url(../../../assets/img/PantallasCS3_BG.jpg) no-repeat;
    background-size: contain;
}
.center {
width: 310px;
margin: 10px auto;
}

.main-div {
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.example-full-width{
width: 100%;
}

.centerContent{
justify-content: center;
}
.leftContent{
position: relative;
justify-content: left;
position: relative;
display: inline-block;
width: 100%;
margin-bottom: 20px;
}

.tituloInicio{
font-size: 15px;
position: relative;
left: 0px;
top: 4px;
display: block;
font-weight: 500;
}
.mensajeP{
display: block;
font-size: 11px;
}
.btnCancelar{
color: #b2b2b2;
width: 45%;
border: 1px solid #b2b2b2;
}
.btnIngresar{
color: white;
background: #ff1e26;
position: absolute;
width: 50%;

right: 0px;

}
.labelLogin{
font-weight: 500;
}

.mensajeLogin{
color: red;
font-size: 12px;
text-align: center;
display: block;
position: relative;
top: -20px;
}
.mensajeOlvidar{
color: red;
font-size: 12px;
text-align: center;
display: block;
position: relative;
cursor: pointer;
margin-top: 10px;
}
.mensajeOlvidar:hover{
font-weight: 500;
}

/********************************
LoginCard (Ini)
********************************/
.leftContent::after{
content: '';
position: absolute;
width: 6px;
height: 40px;
background: #ff1e26;
left: -16px;
top: 0px;
}
/***** LoginCard (Fin) *****/ 
/***** Login Card (Ini) *****/ 
.logoOnpe{
text-align: center;
margin-bottom: 20px;
}
.logoSistema{
color: #175BA5;
font-family: "Roboto";
text-align: center;
}
.logoSistema h1{
font-size: 64px;
font-weight: 700;
}
.logoSistema p{
font-size: 14px;
margin: 0;
}
/***** Login Card (Fin) *****/ 
.dirFooter{
display: none;
margin-top: 60px;
text-align: center;
color: #b2b2b2;
padding-bottom: 10px;
}
  
  