<div class="main-div">
  <div>
    <div class="logoOnpe">
      <img src="../../../assets/img/PantallasCS3_Onpe.png" alt="">
    </div>
  </div>
  <div class="center">
    <div class="logoSistema">
      <h1>SINONPE</h1>
      <p>Sistema de Notificaciones de la ONPE</p>
    </div>
    <div class="centerTitle">
      INGRESO
    </div>
    <form #myform="ngForm"  [formGroup]="Formulario" class="example-form" (ngSubmit)="loginInit()">
      
        <div class="loginRadio labelsColor">
          <mat-radio-group aria-label="Select an option" formControlName="fm_option" aria-label="Select an option" (change)="radioChange($event)">
            <mat-radio-button value="1">DNI</mat-radio-button>
            <mat-radio-button value="2">Carnet de extranjería</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field class="example-full-width bigInputColor" appearance="outline">
          <span matPrefix class="material-icons">account_box</span>
          <input matInput placeholder="{{placeHolder}}" (keypress)="validar_campo($event)" type="text" class="form-control" formControlName="fm_usuario" [class.control-invalid]="formInvalid('fm_usuario')"  [maxlength]="getMaxLengthNumeroDocumento" [minlength]="getMin"  required  required appOnlyNumber="integer" autocomplete="false">
        </mat-form-field>
        <div class="labelsColor">Password</div>
        <mat-form-field class="example-full-width bigInputColor" appearance="outline">
          <span matPrefix class="material-icons">lock</span>
          <input mat-icon="lock" matInput placeholder="Contraseña" type="password" maxlength="30" class="form-control" formControlName="fm_pass" [class.control-invalid]="formInvalid('fm_pass')" 
                 required>
        </mat-form-field>
      <br>
      <div *ngIf="RequerdCaptcha" >
        <re-captcha  (resolved)="resolved($event)" 
                    formControlName="recaptchaReactive" 
                    siteKey= {{sitekey}} [required]="RequerdCaptcha">  
        </re-captcha>
      </div>
      <br>
      <span class="mensajeLogin">{{mensaje}}</span>
      <a class="linkContent" href="#">
        Guía de procedimiento
      </a>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button type="submit" fxFlex="50" class="btnBlue" mat-raised-button [disabled]="myform.invalid">Ingresar</button>
      </div>
      <span  class="mensajeOlvidar" (click)="forgetpass();">Olvidé mi contraseña</span>
    </form>
  </div>
  <div class="dirFooter">
    Jr. Washington 1894, Lima 01<br/>
    informes@onpe.gob.pe  -  Fono ONPE: 417 0630 opción 1<br/>
    Horario de atención: Lunes a Sábado de 08:00 h – 20:00 h
  </div>

</div>
